{% extends 'base.html' %}
{% block content %}
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('../static/img/profile_city.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">CIT Repository Dr. Yusuf Bala Usman College Daura.</h1>
          <h4>This website serves as the repository for all the projects writting by Students of The Department of Computer and Information Technology</h4>
          <br>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> Browse Projects
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}