{% extends 'staffs/dashboard.html' %}
{% block main_content %}
    <div class="col-md-9">
        {% if action == 'update' %}
        <h3>Update Project</h3>
        {% else %}
        <h3>Create new Project</h3>
        {% endif %}
        <form method="post">
          {{ form.csrf_token }}
          <div class="form-row">
            <div class="form-group col-md-4">
              {{ form.department.label }}
              {{ form.department(class_="form-control") }}
            </div>
            <div class="form-group col-md-4">
              {{ form.year_of_submission.label }}
              {{ form.year_of_submission(class_="form-control", id="yearOfSubmission", value=project.year_of_submission if project else form.year_of_submission.data) }}
            </div>
            <div class="form-group col-md-4">
              {{ form.project_number.label }}
              {{ form.project_number(class_="form-control", value=project.project_number if project else form.project_number.data) }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{ form.student_name.label }}
              {{ form.student_name(class_="form-control", value=project.student_name if project else form.student_name.data)}}
            </div>
            <div class="form-group col-md-6">
              {{ form.supervisor_name.label }}
              {{ form.supervisor_name(class_="form-control", value=project.supervisor_name if project else form.supervisor_name.data )}}
            </div>
          </div>
          <div class="form-group">
              {{ form.topic.label }}
              {{ form.topic(class_="form-control", value=project.topic if project else form.topic.data)}}
          </div>
          <div class="form-group">
              {{ form.body.label }}
              <textarea name="body" class="form-control">{{ project.body if project else form.body.data }}</textarea>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              {{ form.methodology.label }}
              {{ form.methodology(class_="form-control", value=project.methodology if project else form.methodology.data)}}
            </div>
            <div class="form-group col-md-6">
              {{ form.references.label }}
              {{ form.references(class_="form-control", value=project.references if project else form.references.data )}}
            </div>
          </div>
          <div class="form-group">
            <label>Make Project Visible Online</label>
            <div class="form-check form-check-radio form-check-inline">
              {{ form.visible.label}}
              {{ form.visible }}
            </div>
          </div>
          {% if action == 'update' %}
          <button type="submit" class="btn btn-rose">Update Project</button>
          {% else %}
          <button type="submit" class="btn btn-rose">Create Project</button>
          {% endif %}
        </form>
    </div>
{% endblock main_content %}

