{% extends 'base.html' %}
{% block content %}
   <div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-pills-rose flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('staffs.dashboard') }}"><i class="material-icons">dashboard</i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.all_projects') }}"><i class="material-icons">book</i>All Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.add_project') }}"><i class="material-icons">library_add</i>Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.all_staffs') }}"><i class="material-icons">people</i>View Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.add_staff') }}"><i class="material-icons">person_add</i>Add User</a>
          </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Add new Staff</h3>
        <form method="post">
          {{ form.csrf_token }}
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
            {{ form.username(class_="form-control", value=staff.username if staff)}}
            </div>
            <div class="form-group col-md-6">
              <label for="fullName">Full Name</label>
              {{ form.fullname(class_="form-control", value=staff.fullname if staff) }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="dept">Department</label>
              {{ form.department(class_="form-control", value=staff.department.name if staff) }}
            </div>
            <div class="form-group col-md-6">
              <label for="level">Level</label>
              {{ form.user_level(class_="form-control", value=staff.user_level if staff)}}
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="level">Password</label>
              {% if action == 'update' %}
                <input type="password" class="form-control" name="password">
              {% else %}
                  {{ form.password(class_="form-control", type="password")}}
              {% endif %}
            </div>
          </div>
          {% if action == 'update' %}
          <button type="submit" class="btn btn-rose">Update Staff info</button>
          {% else %}
          <button type="submit" class="btn btn-rose">Add Staff</button>
          {% endif %}
        </form>
    </div>
</div>
{% endblock content %}