{% extends 'base.html' %}
{% block content %}
  <div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-pills-rose flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('staffs.dashboard') }}"><i class="material-icons">dashboard</i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.all_projects') }}"><i class="material-icons">book</i>All Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.add_project') }}"><i class="material-icons">library_add</i>Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.all_staffs') }}"><i class="material-icons">people</i>View Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;"><i class="material-icons">person_add</i>Add User</a>
          </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h2>Hey {{ g.user.username }}, Welcome to CIT Repository Dashboard</h2>
        <h4>Perform all admin operation using the navigation on the left</h4>
    </div>
  </div>
{% endblock content %}