{% extends 'base.html' %}
{% block content %}
   <div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-pills-rose flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('staffs.dashboard') }}"><i class="material-icons">dashboard</i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.all_projects') }}"><i class="material-icons">book</i>All Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.add_project') }}"><i class="material-icons">library_add</i>Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.all_staffs') }}"><i class="material-icons">people</i>View Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('staffs.add_staff') }}"><i class="material-icons">person_add</i>Add User</a>
          </li>
        </ul>
    </div>
    <div class="col-md-9">
        <h3>Staff Information</h3>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
              <input type="text" class="form-control disabled" id="username" value="{{ staff.username }}" disabled="true">
            </div>
            <div class="form-group col-md-6">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control disabled" id="fullName" value="{{ staff.fullname }}" disabled="true">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="dept">Department</label>
              <input type="text" class="form-control disabled" value="{{ staff.department.name }}" disabled="">
            </div>
            <div class="form-group col-md-6">
              <label for="level">Level</label>
              <input type="text" class="form-control disabled" id="level" value="{{ staff.user_level }}" disabled>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <a href="{{ url_for('staffs.update_staff', id=staff.id) }}" class="btn btn-rose">Edit Staff Info</a>
            </div>
            <div class="form-group col-md-6">
              <form action="{{ url_for('staffs.delete_staff', id=staff.id) }}" method="POST" >
                <button type="submit" class="btn btn-danger">Delete Staff</button>
            </form>
            </div>
          </div>

          
    </div>
</div>
{% endblock content %}